body {
    font-family: 'Noto Sans JP', sans-serif;
}
.caption {
    text-align: center;
}
.year-month {
    height: fit-content;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
}
.prev-btn {
    border: 0px;
    background-color: transparent;
}
.next-btn {
    border: 0px;
    background-color: transparent;
}
table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    align-self: center;
}
table th, td {
    width: 100px;
    height: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: dimgrey;
}
table td {
    color: gray;
}
.sundays {
    background-color: pink;
}
.saturdays {
    background-color: paleturquoise;
}